<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{layout/layout}">
<head>
</head>
<body>
<div layout:fragment="content">
	<div>
		<h3>残業申請書（再申請）</h3>
	</div>
	<div>
		<form method="post" th:action="@{/request/edit/{id}(id=${request.id})}" th:object="${requestForm}">
			<div class="mb-3 row">
				<!-- 表示項目 -->
				<label for="requestDate" class="col-sm-2 col-form-label mb-2">申請日</label>
				<div class="col-sm-10">
			      <input type="text" readonly class="form-control-plaintext" th:field="*{requestDate}">
			    </div>
			    
				<label for="departmentsName" class="col-sm-2 col-form-label mb-2">部署名</label>
				<div class="col-sm-10">
			       <input type="text" readonly class="form-control-plaintext" id="departmentsName" th:value="${user.departmentsName}">
			    </div>
			    
				<label for="name" class="col-sm-2 col-form-label mb-2">氏名</label>
				<div class="col-sm-10">
			      <input type="text" readonly class="form-control-plaintext" id="name" th:value="${user.name}">
			    </div>
			    
				<label for="workPatternsId" class="col-sm-2 col-form-label mb-2">勤務パターン</label>
			    <div class="col-sm-3">
				    <select class="form-select" th:field="*{workPatternsId}">
			            <option th:each="workPattern : ${workPatternList}" 
			                    th:value="${workPattern.id}" 
			                    th:text="${workPattern.name + '　' + workPattern.startTime + ' 〜 ' + workPattern.endTime}" >
			            </option>
		       		 </select>
	       		</div>
	       		<!-- カラム位置調整 -->
	       		<div class="col-sm-7"></div>
			    
			    <label for="staticEmail" class="col-sm-2 col-form-label mb-2">残業予定時間</label>
			    <label for="startTime" class="col-sm-1 col-form-label">開始：</label>
			    <input type="datetime-local" class="col-sm-3" th:field="*{startTime}">
			    <label for="endTime" class="col-sm-1 col-form-label ms-3">終了：</label>
			    <input type="datetime-local" class="col-sm-3" th:field="*{endTime}">
			    <!-- 表示項目 -->
			    <label for="restPeriod" class="col-sm-2 col-form-label mb-2">規定休憩時間</label>
				<div class="col-sm-10">
			      <input type="time" readonly class="col-sm-3 form-control-plaintext" th:field="*{restPeriod}">
			    </div>
			    
				<!-- 入力項目 -->
			    <label for="reason" class="col-sm-2 col-form-label">残業理由</label>
				<div class="col-sm-10 mb-5">
			      <textarea class="form-control" th:field="*{reason}" rows="5"></textarea>
			    </div>

			</div>
			<!-- 更新ボタン -->
			<div class="row d-flex justify-content-center">
				<button type="submit" class="btn btn-primary col-sm-3">再申請</button>
			</div>
			
		</form>
		
	</div>
	
</div>
</body>
</html>